{% extends 'base.html' %} <!-- Le decimos que use el molde de base.html -->

{% block titulo %}Inicio - Refugio Huellitas{% endblock %}

{% block contenido %}
<section class="hero">
    <h1>Adopta un amigo, salva una vida 🐾</h1>
    <p>Bienvenido al Refugio Huellitas. Somos un grupo de voluntarios dedicados a rescatar, cuidar y encontrarle un hogar con amor a perritos y gatitos de la calle.</p>
    <div class="botones-hero">
        <a href="/mascotas/" class="btn-primario">Ver Mascotas en Adopción</a>
    </div>
</section>
{% endblock %}